body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0x;
    padding: 0x;
    text-transform: uppercase;
    /* background-color: rgb(166, 213, 233); */
    background-color: #6bc7cc;
}


.grid-container {
    display: grid;
}

.iframe-style {
    position: absolute;
    height: 100%;
}

.text-style {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    padding-right: 15px;
    overflow: auto;
}

.text-style-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    padding-left: 15px;
    overflow: auto;
}
.text-style-center {
    position: absolute;
    top: 8%;
    left: 30%;
    right: 30%;
    /* width: 320px; */
    /* padding-left: 15px; */
    overflow: auto;
}

.content-design{
    color: #F5EDC6; 
    font-family: Gupter;
    font-style: normal; 
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: justify;
    font-feature-settings: 'ss01';
}
.content-design-bottom{
    color: #F5EDC6; 
    font-family: Gupter;
    font-style: normal; 
    font-weight: 500;
    font-size: 11px;
    line-height: 0%;
    text-align: justify;
    font-feature-settings: 'ss01';
}
.header-design{
    color: #F5EDC6; 
    font-family: Gupter;
    font-style: normal; 
    /* font-weight: 500; */
    /* font-size: 16px; */
    /* line-height: 120%; */
    text-align: justify;
    width: 100%;
    /* height: 151.67px; */
    /* font-feature-settings: 'ss01'; */
}

.audio-style{
    position: absolute;
    left: 0;
    bottom: 0;
}


.social-insta{
    position: absolute;
    right: -24px;
    bottom: -3px;
    height: 7%;
    width: 7%;
}
.social-twitter{
    position: absolute;
    right: 48px;
    bottom: 2px;
    height: 6%;
    width: 5%;
}

.text-style-bottom{
    position: absolute;
    bottom: 7%;
    left: 33%;
    right: 30%;
    /* width: 320px; */
    /* padding-left: 15px; */
    overflow: auto;
}

.header{
    color: #F5EDC6;
   
}